.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td SENA 2006-20014 SOFIAPLUS
                    td Sistema de Información
                    td 
                        a(href="http://portal.senasofiaplus.edu.co/index.php/ayudas", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ir al sitio web

                tr
                    td SENA - 2020 Aplicativo COMPROMISO
                    td Sistema de Información
                    td 
                        a(href="http://compromiso.sena.edu.co/index.php?text=inicio&id=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ir al sitio web   

                tr
                    td SENA - 2020 Portal SENA - ¿Quiere estudiar en el SENA?
                    td Sitio web
                    td 
                        a(href="https://www.sena.edu.co/es-co/formacion/Paginas/Estudie-en-el-SENA.aspx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ir al sitio web

                tr
                    td SENA - 2020 Portal SENA - Glosario
                    td Sitio web
                    td 
                        a(href="https://www.sena.edu.co/es-co/ciudadano/Paginas/glosario.aspx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ir al sitio web                  