include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Formación en Ambientes virtuales de Aprendizaje
        meta(meta name="description" content="Ruta de aprendizaje programa Formación en Ambientes virtuales de Aprendizaje.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Formación en Ambientes virtuales de Aprendizaje
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Formación en Ambientes virtuales de Aprendizaje
                                        li 
                                            span #[strong Código:] 41311588
                                        li 
                                            span #[strong Total horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 5 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Los aspirantes deben contar, como mínimo, con el título de técnico o tecnólogo, con un manejo intermedio de herramientas de la información y la comunicación.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9.d-none
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yAttOSxoYdc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')        

                                img(src= "assets/images/header/header_media.svg").curso-imagen  

        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Estimado aprendiz: el Servicio Nacional de Aprendizaje SENA le da la bienvenida al programa de Formación en Ambientes Virtuales de Aprendizaje, el cual está enfocado en fortalecer y dar a conocer los procesos que están inmersos en el desarrollo de la formación para la virtualidad en el SENA. Este curso tiene como población objetivo instructores SENA o técnicos, tecnólogos o profesionales aspirantes a instructor virtual SENA.
                
                p El curso se desarrollará bajo la modalidad de formación virtual y tendrá una duración de cuarenta y ocho (48) horas que serán trabajadas en un tiempo de cinco (5) semanas, donde el participante destinará dos (2) horas diarias para lograr con éxito el objetivo  de su formación, siendo él mismo el gestor de su proceso de aprendizaje. Esta formación le brindará flexibilidad para ajustar sus tiempos de acuerdo con sus necesidades; contando con el acompañamiento continuo del tutor a través de tutorías virtuales y trabajo asincrónico.

                p Usted fortalecerá sus conocimientos a través del estudio de caso basado en simulaciones en un ambiente LMS real, trabajando bajo el rol de instructor o tutor virtual SENA para el desarrollo de las actividades planteadas bajo los lineamientos institucionales.

                p Tener el conocimiento y fortalecer las competencias en el manejo del LMS y la formación virtual, le permitirá mejorar su perfil profesional, ampliando su campo laboral y mejorar su calidad de vida en un mundo donde la globalización ha permeado el proceso educativo. 


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El programa Formación en Ambientes Virtuales de Aprendizaje tiene como fin fortalecer las competencias de los instructores SENA o aspirante a instructor en el uso de la herramienta LMS como apoyo a los procesos de formación, apropiando técnicas y métodos en la planeación y ejecución de la formación de acuerdo con los lineamientos institucionales vigentes.  El SENA, con su estrategia de formación continua, contribuye con el desarrollo social, económico y tecnológico del país, incluyendo las tecnologías de la información y la comunicación en los procesos formativos.


        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El programa de formación está dirigido a todos los Instructores vinculados con el SENA y todo técnico, tecnólogo o profesional que aspire a ser instructor virtual Sena.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Orientada en la construcción del trabajo autónomo para garantizar la calidad de la formación en el marco del desarrollo por competencias, el presente curso está enfocado hacia el aprendizaje activo a través de la estrategia didáctica: Estudio de caso, centrada en simulaciones y en el uso de herramientas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las Tecnologías de la Información y la Comunicación, en Ambientes Virtuales de Aprendizaje que, en todo caso, recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, se pretende estimular, de manera permanente, la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





